<template>
  <div id="app">

            <div class="content">
                <div class="form-row">
                  <div class="col-5">
                    <input type="text" class="form-control" style="border: 2px solid black; background-color: #fff" placeholder="SEARCH...">
                  </div>
                  <div class="col">
                    <button class="btn btn-secondary" type="submit"><img src="../../assets/images/search_24px.png"  alt=""></button>
                  </div>
                  <div class="col-2.0">
                    <button class="btn btn-secondary" v-b-modal.AddBook @click="$bvModal.show('AddBook')"><i class="fas fa-user-plus"></i> Add Book </button>
                  </div>
                </div>


                <table class="table table-bordered" style="border: 3px solid black; ">
                  <thead class="thead" style="border: 2px solid black; background-color: #393939; color: #ffffff;">
                    <tr>
                        
                        <th style="border: 2px solid black;">Name</th>
                        <th style="border: 2px solid black;">Author</th>
                        <th style="border: 2px solid black;">Copies Available</th>
                        <th style="border: 2px solid black;">Category</th>
                        
                        <th class="text-center" style="border: 2px solid black;">Edit</th>
                        <th class="text-center" style="border: 2px solid black;">Delete</th>
                        <th class="text-center" style="border: 2px solid black;">Borrow</th>
                        <th class="text-center" style="border: 2px solid black;">Return</th>
                    </tr>
                  </thead>
              
                <tbody>
                  <tr v-for="Book in PatronModelFilter" :key="Book.id">
               
                  <td style="border: 2px solid black;">
                    {{ Book.name }}
                  </td>
                  <td style="border: 2px solid black;">
                    {{ Book.author }}
                  </td>
                  <td style="border: 2px solid black;">
                    {{ Book.copies }}
                  </td>
                  <td style="border: 2px solid black;">
                    {{ Book.category_id}}
                  </td>
                  
                  <td class="text-center" style="border: 2px solid black;">
                    <a><button class="btn btn-secondary"> <img src="../../assets/images/edit_folder.png"  @click=" Form = Book" v-b-modal.UpdateBook > </button>
                    </a>
                  </td>
                  <td class="text-center" style="border: 2px solid black;">
                     <a @click="SelectedPatron = Book" v-b-modal.DeleteModal ><button class="btn btn-secondary"> <img src="../../assets/images/waste.png"> </button> </a>
                  </td>
                  <td style="border: 2px solid black;">
                    <a> <button class="btn btn-secondary"> <img src="../../assets/images/borrow.png"> </button> </a> 
                  </td>
                  <td style="border: 2px solid black;">
                    <a> <button class="btn btn-secondary"> <img src="../../assets/images/return.png"> </button> </a>
                  </td>
                </tr>
                </tbody>



                </table>
            </div>

<b-modal id="AddBook" title="Add Book" hide-footer hide-header ref="modal" >
  
    <div class="modal-header" style="background-color: #393939"  >
                            <h5 class="modal-title" style="color: #ffffff" id="exampleModalLabel">Add Book</h5>
                            <button @click="HideModal" type="button" class="close" >
                              <span aria-hidden="true" style="color: #ffffff">&times;</span>
                            </button>
                          </div>
          <div class="modal-body">
        
               <form id="AddBook" ref="modal">
                   <div class="form-group">
                  <label for="recipient-name" class="col-form-label" style="color:#000000">Book Name:</label>
                   <input id="BookName"  v-model="Form.name" type="text" name="name" class="form-control form-control-lg" >
                   </div>
                   <div class="form-group">
                   <label for="recipient-name" class="col-form-label" style="color:#000000">Author:</label>
                   <input id="Author"  v-model="Form.author" type="text" name="Author" class="form-control form-control-lg" >
                   </div>
                   <div class="form-group">
                     <label for="recipient-name" class="col-form-label" style="color:#000000">Copies Available:</label>
                  <input  id="Copies"  v-model="Form.copies" type="text" name="CopiesAvailable" class="form-control form-control-lg" >
                  </div>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label" style="color:#000000">Category:</label>
                   <b-form-select id="Genre" v-model="Form.category_id">
                    <b-form-select-option
                      :value="Category.id"
                      v-for="Category in AllCategories"
                      :key="Category.id"
                      >{{ Category.category }}</b-form-select-option>
                    </b-form-select>
               </div> 
            <div class="form-group">
              <button @click="AddBook" type="button" class="btn btn-secondary">Submit</button>
            </div>
            </form>
            </div>
</b-modal>


 <b-modal
          id="UpdateBook" title="Update Book" hide-footer centered modal-header no-close-on-backdrop no-close-on-esc hide-header ref="modal">
           <div class="modal-header" style="background-color: #393939"  >
                            <h5 class="modal-title" style="color: #ffffff" id="exampleModalLabel">Update Book</h5>
                            <button @click="HideModal" type="button" class="close" >
                              <span aria-hidden="true" style="color: #ffffff">&times;</span>
                            </button>
                          </div>
             <div class="modal-body">
               <form id="AddBook" ref="modal">
                   <div class="form-group">
                  <label for="recipient-name" class="col-form-label" style="color:#000000">Book Name:</label>
                   <input id="BookName"  v-model="Form.name" type="text" name="name" class="form-control form-control-lg" >
                   </div>
                    <div class="form-group">
                   <label for="recipient-name" class="col-form-label" style="color:#000000">Author:</label>
                   <input id="Author"  v-model="Form.author" type="text" name="Author" class="form-control form-control-lg" >
                   </div>
                   <div class="form-group">
                     <label for="recipient-name" class="col-form-label" style="color:#000000">Copies Available:</label>
                  <input  id="Copies"  v-model="Form.copies" type="text" name="CopiesAvailable" class="form-control form-control-lg" >
                  </div>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label" style="color:#000000">Category:</label>
                  <input id="Genre" v-model="Form.category_id" type="text" name="email" class="form-control form-control-lg" value="Category" required>
               </div> 
                <div class="form-group">
              <button @click="UpdateBook()" type="button" class="btn btn-secondary">Update</button>
            </div>
               </form>
            </div>
        </b-modal>


 <b-modal  hide-header size="300px" id="DeleteModal"  centered ref="modal">
           <h3 class="text-center" >Are you sure you want to Delete?</h3>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
           
             <button type="button" class="promptt btn btn-primary mr-2"  data-dismiss="modal" block @click="DeleteBook()" >
                Yes
              </button>
                <button type="button" class="promptt btn btn-secondary" block @click="$bvModal.hide('DeleteModal')">
                No
              </button>
              
            </div>
          </template>
        </b-modal>


     </div>
</template>
<script src="../../assets/js/book.js"></script>
<script>
import { mapGetters, mapActions } from "vuex";
import Book from '../../assets/js/book.js'
export default Book;
</script>

<style>

</style>
