<template>
  <div id="app">
    

             <div class="row">
              <div class="column">
               <canvas id="pieChart" style="height:38vh; width:38vw" ></canvas>
              </div>
              <div class="column">
                
                <canvas id="barChart" style="height:38vh; width:38vw" ref="barChart"></canvas>   
              </div>  
             </div>
    -->       
    
  </div>
</template>

<script>

import Chart from 'chart.js';
export default {
  components: {
     
     
  },
  data(){
    return {
      msg: 'Hello World!'
    }
  },
  methods: {
    
  },
  mounted() {
    document.title = "Dashboard"
    this.$nextTick(() => {
      var ctx = this.$refs.barChart.getContext("2d");
      new Chart(ctx, {
        type: "bar",
        data: {
			labels: ['2015', '2016', '2017', '2018', '2019', '2020'],
          datasets: [
            {
              label: "Borrowed Books",
              data: [1000, 1170, 660, 1030, 1170, 660],
              backgroundColor: "rgba(255, 0, 0,8)",
            },
            {
              label: "Returned Books",
              data: [500, 460, 1120, 540, 1120, 540],
              backgroundColor: "rgba(44, 130, 201, 1)",
            },
          ],
        },
        options: { 
          title: {
            display: true,
            text: 'Returned and Borrowed Books',
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
        },
      });

      var pie = document.getElementById("pieChart").getContext("2d");
      new Chart(pie, {
        type: "pie",
        data: {
          datasets: [
            {
              data: [3, 1, 1, 1,2],
              backgroundColor: [
                "rgba(44, 130, 201, 1 )",
                "rgba(255,255,0)",
                "rgb(255,69,0)",
                "rgba(0, 128, 0)",
                "rgba(148,0,211)",
               
                
              ],
            },
          ],

          labels: [
					'Classic',
					'Crime',
					'Romance',
					'Horror',
          'Adventure'
        ],
        },
        options:{
          title:{
            display: true,
            text:'Book Genres',
            fontColor: '#000000',
          },
        },
      });
    });
  },
  
};
 
</script>

<style>
</style>