<template>
  <div id="app">

            <div class="content">
                <div class="form-row">
                  <div class="col-5">
                    <input type="text" class="form-control" style="border: 2px solid black; background-color: #fff" placeholder="SEARCH...">
                  </div>
                  <div class="col">
                    <button class="btn btn-secondary" type="submit"><img src="../../assets/images/search_24px.png"  alt=""></button>
                  </div>
                  <div class="col-2.0">
                    <button class="btn btn-secondary" v-b-modal.AddPatron @click="$bvModal.show('AddPatron')"><i class="fas fa-user-plus"></i> Add Patron </button>
                  </div>
                </div>


                <table class="table table-bordered" style="border: 3px solid black; ">
                  <thead class="thead" style="border: 2px solid black; background-color: #393939; color: #ffffff;">
                    <tr>
                        
                        <th style="border: 2px solid black;">Name</th>
                        <th style="border: 2px solid black;">Email Address</th>
                        <th style="border: 2px solid black;">Date Registered</th>
                        <th style="border: 2px solid black;" class="text-center">Edit</th>
                        <th style="border: 2px solid black;" class="text-center">Delete</th>
                    </tr>
                  </thead>
              
                <tbody>
                  <tr v-for="Patron in PatronModelFilter" :key="Patron.id">
                  
                  <td style="border: 2px solid black;">
                    {{ Patron.first_name + " " + Patron.last_name }}
                  </td>
                  <td style="border: 2px solid black;">
                    {{ Patron.email }}
                  </td>
                  <td style="border: 2px solid black;">
                    {{ Patron.created_at }}
                  </td>
                  <td style="border: 2px solid black;" class="text-center">
                    <a href="#"><button class="btn btn-secondary"> <img src="../../assets/images/edit_folder.png"  @click="Form = Patron" v-b-modal.UpdatePatron > </button>
                    </a>
                  </td>
                  <td style="border: 2px solid black;" class="text-center" >
                     <a href="#" @click="SelectedPatron = Patron" v-b-modal.DeleteModal ><button class="btn btn-secondary"> <img src="../../assets/images/waste.png"> </button> </a>
                  </td>
                </tr>
                </tbody>



                </table>
            </div>

<b-modal id="AddPatron" title="Add Patron" hide-footer hide-header ref="modal" >
  
    <div class="modal-header" style="background-color: #393939"  >
                            <h5 class="modal-title" style="color: #ffffff" id="exampleModalLabel">Add Patron</h5>
                            <button @click="HideModal" type="button" class="close" >
                              <span aria-hidden="true" style="color: #ffffff">&times;</span>
                            </button>
                          </div>
          <div class="modal-body">
        
               <form id="AddPatron" ref="modal">
                   <div class="form-group">
                  <label for="recipient-name" class="col-form-label" style="color:#000000">First Name:</label>
                   <input id="PatronFirstName"  v-model="Form.first_name" type="text" name="name" class="form-control form-control-lg" >
                   </div>
                   <div class="form-group">
                   <label for="recipient-name" class="col-form-label" style="color:#000000">Middle Name:</label>
                   <input id="PatronMiddleName"  v-model="Form.middle_name" type="text" name="middlename" class="form-control form-control-lg" >
                   </div>
                   <div class="form-group">
                     <label for="recipient-name" class="col-form-label" style="color:#000000">Last Name:</label>
                  <input  id="PatronLastName"  v-model="Form.last_name" type="text" name="lastname" class="form-control form-control-lg" >
                  </div>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label" style="color:#000000">Email:</label>
                  <input id="PatronEmail" v-model="Form.email" type="text" name="email" class="form-control form-control-lg" value="Email Address" required>
               </div> 
            <div class="form-group">
              <button @click="AddPatron" type="button" class="btn btn-secondary">Submit</button>
            </div>
            </form>
            </div>
</b-modal>


 <b-modal
          id="UpdatePatron" title="Update Patron" hide-footer centered modal-header no-close-on-backdrop no-close-on-esc hide-header ref="modal">
           <div class="modal-header" style="background-color: #393939"  >
                            <h5 class="modal-title" style="color: #ffffff" id="exampleModalLabel">Update Patron</h5>
                            <button @click="HideModal" type="button" class="close" >
                              <span aria-hidden="true" style="color: #ffffff">&times;</span>
                            </button>
                          </div>
             <div class="modal-body">
               <form id="AddPatron" ref="modal">
                   <div class="form-group">
                  <label for="recipient-name" class="col-form-label" style="color:#000000">First Name:</label>
                   <input id="PatronFirstName"  v-model="Form.first_name" type="text" name="name" class="form-control form-control-lg" >
                   </div>
                    <div class="form-group">
                   <label for="recipient-name" class="col-form-label" style="color:#000000">Middle Name::</label>
                   <input id="PatronMiddleName"  v-model="Form.middle_name" type="text" name="middlename" class="form-control form-control-lg" >
                   </div>
                   <div class="form-group">
                     <label for="recipient-name" class="col-form-label" style="color:#000000">Last Name:</label>
                  <input  id="PatronLastName"  v-model="Form.last_name" type="text" name="lastname" class="form-control form-control-lg" >
                  </div>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label" style="color:#000000">Email:</label>
                  <input id="PatronEmail" v-model="Form.email" type="text" name="email" class="form-control form-control-lg" value="Email Address" required>
               </div> 
                <div class="form-group">
              <button @click="UpdatePatron()" type="button" class="btn btn-secondary">Update</button>
            </div>
               </form>
            </div>
        </b-modal>


 <b-modal  hide-header size="300px" id="DeleteModal"  centered ref="modal">
           <h3 class="text-center" >Are you sure you want to Delete?</h3>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
           
             <button type="button" class="promptt btn btn-primary mr-2"  data-dismiss="modal" block @click="DeletePatron()" >
                Yes
              </button>
                <button type="button" class="promptt btn btn-secondary" block @click="$bvModal.hide('DeleteModal')">
                No
              </button>
              
            </div>
          </template>
        </b-modal>


     </div>
</template>
<script src="../../assets/js/patron.js"></script>
<script>
import { mapGetters, mapActions } from "vuex";
import patron from '../../assets/js/patron.js'
export default patron;
</script>

<style>

</style>
