<template>
  <div id="app">
    
  
    
        
    
  </div>
</template>
<script>



export default {
  mounted(){
    document.title = "Settings"
  },
  components: { 
      
      },
};
</script>

<style>

</style>