@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Ubuntu:400,500,700&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background: #e8edf5;
  width: 100%;
  height: 100%;
}

.wrapper .top_navbar{
	width: 100%;
	height: 65px;
	display: flex;
	position: fixed;
	top: 0;
}

.wrapper .top_navbar .logo{
	width: 250px;
	height: 100%;
	background: #393939;
	border-bottom: 0px solid #393939;
}

.wrapper .top_navbar .logo a{
	 display: block;
    text-align: center;
    font-family: 'Arial', sans-serif;
  	font-size: 30px;
  	color: #fff;
  	padding: 20px 0;
}
.wrapper .top_navbar .logo img{

  margin-left: auto;
  margin-right: auto;
  width: 20%;

}
.wrapper .top_navbar .top_menu{
	width: calc(100% - 250px);
	height: 100%;
	background: #393939;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .top_navbar .top_menu .home_link a{

	display: block;
    background: #393939;
    color: #fff;
    padding-left: 900px;
    border-radius: 3px;
}


.main_body .sidebar_menu{
	position: fixed;
  	top: 65px;
  	left: 0;
  	background: #393939;
  	width: 250px;
  	height: 100%;
  	transition: all 0.3s linear;
}

.main_body .sidebar_menu .inner__sidebar_menu{
	position: relative;
	padding-top: 60px;
}

.main_body .sidebar_menu ul li a{
  color: #fff;
  font-size: 18px;
  padding: 20px 35px;
  display: block;
  white-space: nowrap;
}

.main_body .sidebar_menu ul li a .icon{
  margin-right: 8px;
}

.main_body .sidebar_menu ul li a span{
  display: inline-block;
}

.main_body .sidebar_menu ul li a:hover{
  background: #666666;
  color: #fff;
}

.main_body .sidebar_menu ul li a.active{
  background: #666666;
  color: #fff;
}

.main_body .container{
	width: calc(100% - 250px);
	margin-top: 65px;
	margin-left: 250px;
	padding: 25px 40px;
	transition: all 0.3s linear;
}

.main_body .container .item_wrap{
	display: flex;
	margin-bottom: 2px;
}

.main_body .container .item_wrap .item{
	background: #fff;
	width: 100%;
	padding: 10px;
	font-size: 14px;
	line-height: 22px;
}




.main_body .container .item_wrap .item .table-bordered .thead{
  color: #fff;

}
.main_body .container .item_wrap .item  .modal .modal-header{
  color: #fff;

}
.main_body .container .item_wrap .item  .modal .modal-header .close{
   color: #fff; 
    opacity: 1;

}
.main_body .container .item_wrap .item .btn-primary{
padding-left: 950;
}

.main_body .container .item_wrap .columns #barchart_div2{
  border-style:  solid;
  border-width: 3px #000000; 
  width: 505px;


}