.bg-dark{
	background-color: #04204e !important;
}
.navbar-dark .navbar-nav .nav-link{
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-item{
	margin: 0 15px;
}

.aboutus{
	padding: 55px 0;
	text-align: center;
	background-color: : #04204a1a;
}
.aboutus h1{
	font-style: 45px;
	margin-bottom: 55px;
	color: #04204a;
}
.aboutus p{
	font-size: 18px;
	color: #04204a;
}


.services{
	padding-top: 50px;
	padding: 55px 0;
	text-align: center;
	background-color:  #061a37;
	 
}
.services h1{
	font-size: 45px;
	margin-bottom: 55px;
	color: #fff;
}
.services h2{
	padding-top: 100px;
}
.services .card{
	border: 1px solid #0062cc;

}
.services .table th{
	color: #fff;
	background-color: #04204a;
	border-color: #0062cc;
}
.services .card-body{
	padding: 1.25rem .9rem;
	background-color: #061a37;
}
.services .card-body .card-title{
	color: #fff;
	font-weight: 300;
	font-size: 20px;
}

.services .btn-primary{
	color: #fff;
	background-color: #04204a;
	border-color: #0062cc;
}
.services .btn-primary:hover{
	color: #fff;
	background-color: #0062cc;
	border-color: #0062cc;
}
.services .card-body .card-text{
	color: #fff;
	font-weight: 700;
}
.services .dropdown .btn-secondary{
	font-weight: 700;
	text-align: left;
	background-color:  #04204a;
	border: none;
}
.services .dropdown .dropdown-item{
	font-weight: 700;
}


.footer{
	padding: 55px 0 25px;
	background-color: #04204e;
}
.footer h5{
	color: #fff;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px solid #ffffff30; 
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.footer ul{
	padding-left: 0;
	list-style: none;
}
.footer ul li{
	line-height: 28px;
	font-weight: 600;
}
.footer ul li a{
	color: #ffffff80;
}
.footer ul li a:hover{
	color: #ffffff;
}
.footer p{
	color: #ffffff80;
	margin-bottom: 7px;
}


.copyright{
	height: 40px;
	background-color: #061a37;
	line-height: 40px;
}
.copyright p{
	margin-bottom: 0;
	color: #ffffff90;
	text-align: center;
}


.services .table-bordered th{
	text-align: center;
}
