<template>
  <div class="sidenav" id="app">
      
        <nav class="navbar navbar-expand-lg" style="background-color: #393939;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
           </ul>
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" style="background-color: #393939"><img src="../../assets/images/logout.png" alt=""> Logout</button>
      
    
  </div>
</nav> 
      <div class="sidebar">
              <a class="nav-header" id="logo">  <img src="../../assets/images/logo(1).png" width="120px" height="120px" ></a> 
             <router-link to="/Dashboard">  
             <a href="#home">Dashboard</a>
             </router-link>

             <router-link to="/Patron">
             <a href="#news">Patron Management</a>
             </router-link>

             <router-link to="/Book">
             <a href="#contact">Book Management</a>
             </router-link>

             <router-link to="/Settings">
             <a href="#about">Settings</a>
             </router-link>
       </div>
       
                        
      
            


   </div>
      
</template>
<script>
export default {
  
}
</script>
<style></style>