body {
  font-family: "Ubuntu", sans-serif;
}

.sidebar {
  top: 0px;
  margin: 0;
  padding: 0;
  width: 180px;
  background-color: #393939;
  position: fixed;
  height: 100%;
  overflow: auto;
}


.sidebar a {
  font-size: 15px;
  font-family: 'Arial', sans-serif;
  display: block;
  color: #fff;
  padding: 20px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #666666;
  color: white;
}


.sidebar a:hover:not(.active) {
  background-color: #666666;
  color: white;
}
.sidebar a:hover{
  background-color: #666666;
  color: white;
}


div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}


@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.content {
  margin-top: 35px;
}
.content .modal-header{
  background-color: #fff;
}
.table {
  margin-top: 35px;
}
.table .modal-header {
  color: #fff;
}
.table .modal-body{
  text-align: left;
}

#barChart{

  position: relative;
  left: 290px;
  top: 300px;
  border: 3px solid #000000 ;
}
#pieChart{
  position: relative;
  left: 250px;
  top: 10px;
  border: 3px solid #000000 ;
  
}
